.main-container{
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;

    background-color: rgba(121, 121, 121, 0.8);
    padding: 3rem;
    border-radius: 2rem;
    top: 8.5rem;
}
.others-cities-container{
    
}
.others-cities-container ul{
    position: absolute;
    top: 12rem;
    left: 0;
    text-align: left;
}
.others-cities-container button{
    padding: 1rem 2rem;
    border-top-right-radius: 3rem;
    background-color: darkorange;
    border: none;
    margin: 0.125rem 0;
    width: 8rem;
}
.others-cities-container button:hover{
    background-color: rgb(255, 191, 113);
    width: 8.5rem;
}


.card-weather{
    
}

.card-weather>section {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 1rem;
    align-items: center;
}

.card-weather img {
    width: 30rem;
    height: auto;
    object-fit: contain;
}

.flex-horizontal {
    display: flex;
    flex-direction: column !important;
    column-gap: 5rem;
}

.btn-degrees{
    padding: 1rem 2rem;
}
.weather-details{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 1rem;
    font-size: 1.5rem;
}
.weather-details li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: left;
    row-gap: 2rem;
}


@media screen and (min-width: 800px) {
    .main-container{
        top: 0;
    }
    .flex-horizontal {
        flex-direction: row !important;
    }
    .others-cities-container ul{
        top: 2rem;
    }

}
